<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="rbcomment">
            <directory>./RbCommentTest</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src/</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".php">../vendor</directory>
            <file>../Module.php</file>
            <file>./Bootstrap.php</file>
        </blacklist>
    </filter>
</phpunit>
